<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body>
<div class="card">
<h2>Register</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label>Username</label>
    <input type="text" th:field="*{username}"/>
    <label>Password</label>
    <input type="password" th:field="*{password}"/>
    <label>Role</label>
    <select name="desiredRole">
      <option value="USER" selected>User</option>
      <option value="ADMIN">Admin</option>
    </select>
    <div>
      <label>Registration Code</label>
      <input type="password" name="registrationSecret" />
    </div>
    <p th:if="${error}" class="error" th:text="${error}"></p>
    <div class="mt-12">
      <button type="submit">Register</button>
    </div>
</form>
<p class="mt-12">Already have an account? <a th:href="@{/login}">Login</a></p>
</div>
</body>
</html>
